<div class="drawer-contents">
  <div class="drawer-heading d-flex">
    <h3 class="drawer-title ">{{username}}</h3>
    <button class="btn btn-sm btn-danger ml-auto" atsSidebartoggle><fa name="close"></fa> Close</button>
  </div>
  <div class="drawer-body">
    <alert type="info" [dismissible]="dismissible">
      <p><strong>Hurray!</strong> You have found the account management section of the app.</p>
      <p>This is where you would come to see notifications, application updates, or other resources related to your account</p>
    </alert>

  </div>
  <!-- <div class="drawer-heading">
    <h4 class="drawer-title">
                        Basics
                    </h4>
  </div>
  <ul class="drawer-fullnav">
    <li>
      <a href="#">Link 1</a>
    </li>
  </ul>
  <div class="drawer-heading">
    <h4 class="drawer-title">
            My Applications
        </h4>
  </div>
  <ul class="drawer-fullnav">
    <li *ngFor="let app of apps">
      <a href="{{app.url}}" class="d-flex">
        <div class="mr-3 align-self-center">
          <div class="circlesm" [ngStyle]="{'background-color': '#'+app.icon_color }">
            <div class="height_fix"></div>
            <span class="content">{{app.icon_text}}</span>
          </div>
        </div>
        <div class="align-self-center">
          <span>{{app.app_name}}</span>
        </div>
      </a>
    </li>
  </ul> -->
  <!-- <div class="drawer-footer">
    Phillip Faniola<br>
    2020<br>
  </div> -->
</div>