.grid-3-column {
	display: grid;
	/*grid-column-gap: 10px;*/
	grid-template-columns: 1fr 4fr 2fr;
    height: calc(100vh - 56px);
}

.grid-3-column.layout-two {
	grid-template-columns: 1fr 2fr 4fr;
}

.column {
	overflow-y: scroll;
}

.column-detail {
	border-left: 1px solid rgba(0,0,0,0.125);
}

.list-group.list-group-context-menu,
.list-group.list-group-context-menu > .list-group-item  {
	background-color: transparent;
}

.list-group.list-group-context-menu > .list-group-item {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.1rem;
}

.list-group.list-group-context-menu > .list-group-item:hover{
	background-color: #fff;
	color: #000;
}

.list-group.list-group-context-menu.context-menu-details {
	margin-bottom: 1rem;
}

.context-menu-details a.list-group-item.list-group-item-action{
	padding: .25rem 0 .25rem 1.25rem;
	font-size: 1rem;
}

.context-menu-details a.list-group-item.list-group-item-action:hover {
	background-color: #ccc;
	color: #000; 
}

.border-right {
	border-right: 1px solid rgba(0,0,0,0.125);
}

.profile-head {
	border-bottom: 1px solid rgba(0,0,0,0.125);
	/*margin-bottom: 1rem;*/
}

.profile-name {

}

.profile-img { 
}

.profile-tabs ul.nav.nav-pills {
	background-color: #f8f9fa;
	border-bottom: 1px solid rgba(0,0,0,0.125); 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: inherit;
	background-color: inherit;
	border-bottom: 3px solid #006a96;
}

.major {
	grid-column: 1;
	grid-row: 2;
}

.minor {
	grid-column: 2;
	grid-row: 2;
}

:focus, button:focus {
	outline: none;
}

dd {
	margin-bottom: .75rem;
}