<div class="about-section p-5">
    <div class="jumbotron py-3 px-5">
        <div class="hello-flex">
            <div>hello</div>
            <div>buen día</div>
            <div>bom dia</div>
            <div>ciao</div>
            <div>안영</div>
        </div>
    </div>
    <!-- <p class="lead mb-5">Welcome, please have a look around</p> -->
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">A little bit about this place...</h5>
        </div>
        <div class="card-body">
            <p>This is a basic example of an application UI masquerading as a portfolio 👻</p>
            <p>The project code is housed on <a href="https://github.com/">Github</a> and deployed via <a
                    href="https://www.netlify.com/">Netlify</a>.</p>
            <p>Welcome, and please have a look around.</p>
            <h4 class="mt-5">TECHNICAL DETAILS ⚙</h4>
            <dl class="pf-list">
                <dt>Angular</dt>
                <dd>8.2.9</dd>
                <dt>Angular CLI</dt>
                <dd>8.3.8</dd>
                <dt>Github repo</dt>
                <dd><a href="https://github.com/elFani/home">https://github.com/elFani/home</a></dd>
                <dt>Netlify</dt>
                <dd><a href="https://www.netlify.com/products/">about Netlify</a></dd>
                <dt>CSS Dev/Build</dt>
                <dd>node-sass and node-mon used to watch Sass and compile into CSS <br>
                    CSS Grid and Flexbox used to create template layouts</dd>
            </dl>
        </div>
    </div>
</div>