<div class="about-section p-5">
    <div class="proj-page-intro">
        <div class="w-container">
            <h1 class="proj-page-heading">Compare UCSD Colleges</h1>
            <div class="my-3">
                <span class="badge badge-primary">UX Design</span>
                <span class="badge badge-primary ml-3">Interaction Design</span>
                <span class="badge badge-primary ml-3">UI Design</span>
            </div>
            <h3 class="my-3"><a href="https://compare.ucsd.edu/">View Compare UCSD Colleges Tool</a></h3>
            <p class="paragraph">This utility for prospective UCSD students allows an applicant to compare and contrast the seven UCSD Colleges across three major criteria, as well as see a map of the general College Neighborhoods on campus. Created by me from scratch, the tool allows for quick comparisons on desktop and mobile, while allowing students that want more thorough information to click through to more comprehensive destinations.</p>
            <p>More information coming shortly...</p>
        </div>
    </div>
    <p><a href="https://compare.ucsd.edu/">Compare UCSD Colleges Tool</a></p>
</div>