<div class="grid-3-column">    
  <div class="column column-context bg-dark p-3">    
    <p class="text-white">context menu</p>
    <div class="form-group">
      <input type="text" placeholder="search" class="form-control">
    </div>
    
  </div>
  <div class="column column-main">
    <div class="header bg-light p-3 d-flex justify-content-start align-items-start">
      <img src="https://placehold.it/75x75" alt="name" class="rounded">
      <div class="align-self-stretch border-right">
      <h2 class="profile-name mx-3">King T. Triton</h2>
      </div>
      <div class="major px-2">
        <div class="text-muted small font-weight-bold">Major</div>
        <div>Oceanography</div>
        <div>Marine Biology</div>
      </div>
      <div class="minor px-2">
        <div class="text-muted small font-weight-bold">Minor</div>
        <div>Basket Weaving</div>
      </div>
    </div>
    <div class="profile-tabs">
      <tabset type="pills">
      <tab heading="Conversations" id="tab1">
        <div class="py-2 px-3">
          <p>{{layoutOneProperty}}</p>
          <p>load Convos component</p>
          <h4>All Conversations</h4>
        </div>
      </tab>
      <tab heading="Transcript">
        <div class="tab-content py-2 px-3 d-flex">
          <h4>Transcript</h4> <button class="btn btn-sm btn-primary ml-auto">snap to detail pane</button>

        </div>
      </tab>
      <tab heading="Counseling Sheet">
        sheet
      </tab>
      <tab heading="Schedule">
        schedule
      </tab>
    </tabset>
    </div>
    
  </div>
  <div class="column column-detail border-left">
    <div class="p-3 bg-light">
      <h3 class="m-0">About King T. Triton</h3>
    </div>
    <div class="list-group list-group-flush">
      <button class="list-group-item list-group-item-action" type="button" (click)="academicDetails = !academicDetails">Academic Details</button>
      <div [collapse]="academicDetails" class="card border-0">
        <div class="card-body">
          <dl>
            <dt class="text-muted small font-weight-bold">Cumulative GPA</dt>
            <dd>3.9</dd>
            <dt class="text-muted small font-weight-bold">Quarter GPA</dt>
            <dd>4.0</dd>
            <dt class="text-muted small font-weight-bold">Cumulative Units</dt>
            <dd>140.0</dd>
            <dt class="text-muted small font-weight-bold">Apply Type</dt>
            <dd>NFRS</dd>
            <dt class="text-muted small font-weight-bold">Enter Quarter</dt>
            <dd>FA64</dd>
            <dt class="text-muted small font-weight-bold">College</dt>
            <dd>Revelle</dd>
            <dt class="text-muted small font-weight-bold">ELWR</dt>
            <dd>NO (icon)</dd>
            <dt class="text-muted small font-weight-bold">Visa</dt>
            <dd>type</dd>
          </dl>
        </div>
      </div>
      <button class="list-group-item list-group-item-action" type="button">Time to Degree</button>
      <button class="list-group-item list-group-item-action" type="button">DARS Audit</button>
      <button class="list-group-item list-group-item-action" type="button">DDA</button>
      <button class="list-group-item list-group-item-action" type="button" (click)="contactDetails = !contactDetails">Contact Details</button>
      <div [collapse]="contactDetails" class="card border-0">
        <div class="card-body">
          <dl>
            <dt class="text-muted small font-weight-bold">email</dt>
            <dd>king@ucsd.edu</dd>
            <dt class="text-muted small font-weight-bold">Phone</dt>
            <dd>858-444-4444</dd>
            <dt class="text-muted small font-weight-bold">Address</dt>
            <dd>123 Gilman Dr.
              <br> La Jolla, CA 92037</dd>
            <dt class="text-muted small font-weight-bold">Housing Phone</dt>
            <dd>858-444-4444</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>