<div class="grid-3-column">
  <div class="column column-context bg-dark text-white py-3">
    <!-- <p>{{layoutTwoProperty}}</p> -->
    <!-- <div class="form-group px-2">
      <input type="text" placeholder="search" class="form-control">
    </div> -->
    <div class="list-group list-group-flush list-group-context-menu">
      <a [routerLink]="['/']" (click)="showAbout()" class="list-group-item list-group-item-action pl-3">About the app</a>
      <a [routerLink]="['/a11y']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-3">OSD Student Portal</a>
      <a [routerLink]="['/photo-work']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-3">Photo Workflow</a>
      <a [routerLink]="['/pattern-library']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-3">Pattern Library</a>
      <!-- <a [routerLink]="['/pattern-library']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-3">Compare Colleges</a> -->
    </div>
  </div>
  <div class="column column-main">
    <div class="about-section p-5" *ngIf=about>
      <p class="lead">Welcome, please have a look around</p>
      <div class="hello-flex">
        <div>hello</div>
        <div>buen día</div>
        <div>bom dia</div>
        <div>ciao</div>
        <div>안영</div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">A little bit about this place...</h5>
        </div>
        <div class="card-body">
          <p>This is a basic example of an application UI masquerading as a portfolio 👻</p>
          <p>The project code is housed on <a href="https://github.com/">Github</a> and deployed via <a href="https://www.netlify.com/">Netlify</a>.</p>
          <h4 class="mt-5">TECHNICAL DETAILS</h4>
          <dl class="pf-list">
            <dt>Angular</dt>
            <dd>8.2.9</dd>
            <dt>Angular CLI</dt>
            <dd>8.3.8</dd>
            <dt>Github repo</dt>
            <dd><a href="https://github.com/elFani/home">https://github.com/elFani/home</a></dd>
            <dt>Netlify</dt>
            <dd><a href="https://www.netlify.com/products/">about Netlify</a></dd>
            <dt>CSS Dev/Build</dt>
            <dd>node-sass and node-mon used to watch Sass and compile into CSS <br>
            CSS Grid and Flexbox used to create template layouts</dd>
          </dl>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="column column-detail border-left">
    <div class="profile-head bg-light p-3">
      <div class="d-flex mb-2">
        <div class="align-self-end">
          <h2 class="profile-name mr-2">Phillip Faniola</h2>
        </div>
      </div>
      <div>
        <p class="pf-label font-weight-bold mb-1">about</p>
        <p>Interested in what happens when art meets the web.</p>
        <p>Experience (10+ years) in UX design, interface design, and front-end
        development. Currently UX Designer and front-end dev at UC San Diego after managing U.S. Soccer's online presence and
        co-creating mobile app.</p>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Contact Details
      </div>
      <div class="card-body">
        <dl class="pf-list">
          <dt>phone</dt>
          <dd>312-203-3485</dd>
          <dt>email</dt>
          <dd><a href="mailto:pfaniola@gmail.com?Subject=Hello%20via%20your%20portfolio">send email</a></dd>
          <dt>linkedin</dt>
          <dd><a href="www.linkedin.com/in/phillip-faniola-35011a57">view profile</a></dd>
        </dl>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Additional Details
      </div>
      <div class="card-body">
        <dl class="pf-list">
          <dt>Spanish language</dt>
          <dd>fluent</dd>
          <dt>Portuguese language</dt>
          <dd>working competency</dd>
        </dl>
      </div>
    </div>
  </div>
</div>