<div class="grid-3-column">
  <div class="column column-context bg-dark text-white py-3">
    <!-- <p>{{layoutTwoProperty}}</p> -->
    <div class="form-group px-2">
      <input type="text" placeholder="search" class="form-control">
    </div>
    <div class="list-group list-group-flush list-group-context-menu">
      <a [routerLink]="['/']" (click)="showAbout()" class="list-group-item list-group-item-action pl-2">About the app</a>
      <a [routerLink]="['/a11y']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-2">a11y</a>
      <a [routerLink]="['/photo-work']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-2">Photo Workflow</a>
      <a [routerLink]="['/pattern-library']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-2">Pattern Library</a>
    </div>
  </div>
  <div class="column column-main">
    <div class="about-section p-5" *ngIf=about>
      <h1>Phillip</h1>
      <div class="hello-flex">
        <div>hello</div>
        <div>buen día</div>
        <div>bom dia</div>
        <div>ciao</div>
        <div>안영</div>
      </div>
      <p>Welcome, please have a look around</p>
      <div class="card">
        <div class="card-header">
          A little bit about this place...
        </div>
        <div class="card-body">
          <dl>
            <dt>Angular</dt>
            <dd>8.2.9</dd>
            <dt>Angular CLI</dt>
            <dd>8.3.8</dd>
          </dl>
          Built with Angular 8.2.9 an
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="column column-detail border-left">
    <div class="profile-head bg-light px-3 py-2">
      <div class="d-flex mb-2">
        <!-- <div class="mr-2">
              <img src="https://placehold.it/50x50" alt="name" class="rounded">
            </div> -->
        <div class="align-self-end">
          <h2 class="profile-name mr-2 mb-0">Phillip Faniola</h2>
        </div>
      </div>
      <div class="d-flex">
        <div class="major pr-2 small">
          <div class="text-muted font-weight-bold">Major</div>
          <div>Oceanography (CODE)</div>
          <div>Marine Biology (CODE)</div>
        </div>
        <div class="minor px-2 small">
          <div class="text-muted font-weight-bold">Minor</div>
          <div>Basket Weaving (CODE)</div>
        </div>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Contact Details
      </div>
      <div class="card-body">
        <dl>
          <dt class="text-muted small font-weight-bold">email</dt>
          <dd>address</dd>
          <dt class="text-muted small font-weight-bold">linkedin</dt>
          <dd>555-555-4444</dd>
        </dl>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Additional Details
      </div>
      <div class="card-body">
        <dl>
          <dt class="text-muted small font-weight-bold">Apply Type</dt>
          <dd>NFRS</dd>
          <dt class="text-muted small font-weight-bold">Enter Quarter</dt>
          <dd>FA64</dd>
          <dt class="text-muted small font-weight-bold">College</dt>
          <dd>Revelle</dd>
          <dt class="text-muted small font-weight-bold">ELWR</dt>
          <dd>NO (icon)</dd>
          <dt class="text-muted small font-weight-bold">Visa</dt>
          <dd>type</dd>
        </dl>
      </div>
    </div>
  </div>
</div>