<div class="grid-3-column">
  <div class="column column-context bg-dark text-white py-3">
    <!-- <p>{{layoutTwoProperty}}</p> -->
    <!-- <div class="form-group px-2">
      <input type="text" placeholder="search" class="form-control">
    </div> -->
    <div class="list-group list-group-flush list-group-context-menu">
      <a routerLink="/" class="list-group-item list-group-item-action pl-3">About the app</a>
      <a routerLink="/osd-sp" class="list-group-item list-group-item-action pl-3">OSD Student Portal</a>
      <a routerLink="/pattern-library" class="list-group-item list-group-item-action pl-3">Pattern Library</a>
      <a routerLink="/photo-work" class="list-group-item list-group-item-action pl-3">Photo Workflow</a>
      <!-- <a [routerLink]="['/pattern-library']" (click)="hideAbout()" class="list-group-item list-group-item-action pl-3">Compare Colleges</a> -->
    </div>
  </div>
  <div class="column column-main">
    <router-outlet></router-outlet>
  </div>
  <div class="column column-detail border-left">
    <div class="profile-head bg-light p-3">
      <div class="d-flex mb-2">
        <div class="align-self-end">
          <h2 class="profile-name mr-2">Phillip Faniola</h2>
        </div>
      </div>
      <div>
        <p class="pf-label font-weight-bold mb-1">about</p>
        <p>Interested in what happens when art meets the web.</p>
        <p>Experience (10+ years) in UX design, interface design, and front-end
        development. Currently UX Designer and front-end dev at UC San Diego after managing U.S. Soccer's online presence and
        co-creating mobile app.</p>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Contact Details
      </div>
      <div class="card-body">
        <dl class="pf-list">
          <dt>phone</dt>
          <dd>312-203-3485</dd>
          <dt>email</dt>
          <dd><a href="mailto:pfaniola@gmail.com?Subject=Hello%20via%20your%20portfolio">send email</a></dd>
          <dt>linkedin</dt>
          <dd><a href="www.linkedin.com/in/phillip-faniola-35011a57">view profile</a></dd>
        </dl>
      </div>
    </div>
    <div class="card border-0 rounded-0">
      <div class="card-header border-0 rounded-0">
        Additional Details
      </div>
      <div class="card-body">
        <dl class="pf-list">
          <dt>Spanish language</dt>
          <dd>fluent</dd>
          <dt>Portuguese language</dt>
          <dd>working competency</dd>
        </dl>
      </div>
    </div>
  </div>
</div>